@import url('https://fonts.googleapis.com/css?family=Quicksand');



body {
    text-align: center;
    background-color: aliceblue;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
  
    
}
nav li {
    width: 100%; 
    margin: 20px;
}
img {
    width: 80%;
    height: auto;
}
header{
    padding: ;
}


