@import url("https://fonts.googleapis.com/css?family=Over+the+Rainbow");
@import url("https://fonts.googleapis.com/css?family=Hind+Vadodara");


h1 {
font-family: 'Over the Rainbow', cursive;
    width: 100%;
}
body {
    background-color: #d6d9dc; 
    font-family: 'Hind Vadodara', sans-serif;
    
}

ul#otis {
 list-style-type: none;
 }
ul#none {
 list-style-type: none;
 }
ul#teach {
    list-style-type: none;
}
#homework{
    color: red;
}
#presentations{
    color: red;
}