@import url("https://fonts.googleapis.com/css?family=Over+the+Rainbow");
@import url("https://fonts.googleapis.com/css?family=Hind+Vadodara");
h1 {
font-family: 'Over the Rainbow', cursive;
    
}
body {
    background-color: #dfbaba; 
    font-family: 'Hind Vadodara', sans-serif;
}