/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    color: #64655e;
}
.class {
    display: flex;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 45px;                
    padding: 20px;
    text-transform: uppercase;
    color: #64655e;
}

.cities {
    list-style: none;
    font-size: 20px;
    text-align: left;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-color: #64655e;
    margin: 0;
}

.franklin {
    text-decoration: none;
    background-color: #64655e;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.greenville {
    text-decoration: none;
    text-decoration: none;
    background-color: #64655e;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.springfield {
    text-decoration: none;
    text-decoration: none;
    background-color: #64655e;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.row1 {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-right: 30px;
    
}
.sunlogo{
    max-width: 50%;
}

.thunderstormImg {
    max-width: 40%;
    padding: 20px;
    padding-right: 40px;
    align-self: flex-start;
}

.greenvilleName {
    align-self: flex-end;
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.franklinName {
    align-self: flex-end;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.wind {
    align-self: flex-end;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
.temp{
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}
.computer{
    width: 60%;
    align-content: center;
   
}
.ipad{
    align-content: center;
    width: 60%;
}
.iphone{
    align-content: center;
    width: 60%;
}
#chart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
}
#chart li{
    width: 12.5%;
    font-size: .95em;
}
.footer{
    text-align: center;
}


@media screen and (min-device-width: 700px) and (max-device-width: 1199px) {
    
body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    color: #64655e;
}    
    .row{
        display: flex;
        align-content:center;
    }    
    
    #chart{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 2em;
    }
    
    
    
    
    
    
    
    
    
    
    
    
}
@media screen and (min-device-width: 1200px) {
    
    #chart{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 2em;
    }   
    
    
    
}


