/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* THE START OF MY CODE IS HERE */


body{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
h1{
  color: #111111;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 80px;

  /*change the main h1 font, looks horrible*/
}
h2{
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	display: flex;
	justify-content: flex-start;
  padding-top: 50px;
	padding-left: 50px;
}
#fallfashion{
	padding-top: 50px;
}
/*
COLOR SCHEME CODES:
#efbb38
#f4a17d
#111111
*/

#page-nav-kk{
  list-style: none;
  font-size: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: #f4a17d;
  margin: 0;
}
#about{
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  padding: 20px 20px;
}
#spring{
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  padding: 20px 20px;
}
#winter{
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  padding: 20px 20px;
}
#fall{
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  padding: 20px 20px;
}
#summer{
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  padding: 20px 20px;
}
p{
  font-family: 'Playfair Display', serif;
  font-size: 25px;
}
.hello{
  display: flex;
  width: 50%;
  text-align: left;

}

a:hover{
  color: #efbb38;
  text-decoration: none;
}
